<link rel="stylesheet" href="/stylesheets/articleselected.css" />
<link rel="stylesheet" href="/stylesheets/mainstyle.css" />
<h1>{{article.title}}</h1>
<img src="{{article.image}}" alt="image-article">
<p class ="article" id="col">{{article.text}}</p>
<p>User: {{article.user.username}}</p>
<p class ="date">{{article.date}}</p>