<link rel="stylesheet" href="./stylesheets/articleshome.css" />

<h1>Home articles</h1>

<a href="/formarticle" class ="create">Create your article</a>

<div class = "article-container">
  {{#each articles}}
  <div class="article-content">
    <img class="photo-article" src="{{this.image}}"/>
    <h3 class="h3">{{this.title}}</h3>
    <p>{{this.user.username}}</p>
    <p>{{this.date}}</p>
    <a href="/articles/{{this._id}}">See more</a>
    <img src="{{this.user.imageURL}}" alt="photo-user">
  </div>
  {{/each}}
</div>
