<h1>Selected article</h1>
<h2>{{article.title}}</h2>

<p>Text: {{article.text}}</p>
<p>User: {{article.user}}</p>
<p>Date: {{article.date}}</p>

<img src="{{article.image}}" alt="image-article">

<a href="/articles/edit" class ="edit">Edit your article</a> <span> | </span>
<a href ="/articles/delete">Delete your article</a>