<link rel="stylesheet" href="./stylesheets/videoshome.css"/>

<h1>Home videos</h1>

<a href= "/formvideo" class="upload">Upload your video</a>
<div class = "video-container">
  {{#each videos}}
  <div class="video-content">
    <img class="photo-video" src="{{this.image}}"/>
    <h3 class="h3">{{this.title}}</h3>
    <div class="identifiant">
     <img src="{{this.user.imageURL}}" class ="user-photo"alt="photo-user">
     <p>{{this.user.username}}</p>
     </div>
    <p>{{this.date}}</p>
    <a href="/videosfile/{{this._id}}">See more</a>
  </div>
  {{/each}}
</div>