<h1>Video selected</h1>
<h2>{{video.title}}</h2>

<p>Text: {{video.text}}</p>
<p>Date: {{video.date}}</p>

<img src="{{this.image}}" alt="image-video">

{{!-- <iframe id="ytplayer" type="text/html" width="640" height="360"
  src="{{this.video}}"
  src="http://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=https://www.youtube.com/watch?v=S2dRcipMCpw"
  frameborder="0"/> --}}

  <video><source src="{{this.video}}"></video>


