<h1>Video selected</h1>
<h2>{{video.title}}</h2>

<p>Text: {{video.text}}</p>
<p>Date: {{video.date}}</p>

<img src="{{this.image}}" alt="image-video">

<video controls>
  <source src="{{this.video}}" alt="player-video" type="video/mp4">
</video>

