{{!-- <h1>Selected video</h1>
<h2>{{video.title}}</h2>

<p>Text: {{video.text}}</p>
<p>User: {{video.user}}</p>
<p>Date: {{video.date}}</p>

<iframe width="560" height="315" src="https://youtube.com/embed/{{video.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<a href="/videosfile/edit" class ="edit">Edit your video</a>
<span> | </span>
<a href ="/videosfile/delete">Delete your video</a> --}}

<link rel="stylesheet" href="/stylesheets/videoselected.css"/>
<link rel="stylesheet" href="/stylesheets/mainstyle.css"/>

<h1>{{video.title}}</h1>

<p class="date">{{video.date}}</p>
<div class="content-detail">
<iframe class="video-window" width="560" height="315" src="https://youtube.com/embed/{{video.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class ="video-text" id="col">{{video.text}}</p>
</div>
<div class="identifiant">
  <img src="{{this.user.imageURL}}" class ="user-photo" alt="photo-user">
  <p>{{this.user.username}}</p>
</div>

<a href="/videos/edit" class ="edit">Edit your video</a>
<span> | </span>
<a href ="/videos/delete"class ="edit">Delete your video</a>