<link rel="stylesheet" href="/stylesheets/edit.css" />
<link rel="stylesheet" href="/stylesheets/mainstyle.css" />

{{!-- <h2>Edit {{username}}</h2>
<form action="/users/edit" method="POST">
  <p>
    <label>
      Name:
      <input type="text" name="name" value="{{user.name}}">
    </label>
  </p>
  <p>
    <label>
      Firstname:
      <input type="text" name="firstname" value="{{user.firstname}}">
    </label>
  </p>
  <p>
    <label>
      Username:
      <input type="text" name="username" value="{{user.username}}">
    </label>
  </p>
  <p>
    <label>
      Email:
      <input type="email" name="email" value="{{user.email}}">
    </label>
  </p>
  <p>
    <label>
      Password:
      <input type="text" name="password" value="{{user.password}}">
    </label>
  </p>
  <p>
    <label>
      Image:
      <input type="file" name="imageURL" value="{{user.imageURL}}">
    </label>
  </p>
  <button>Update your profile</button>
  
</form> --}}



{{!-- ////////////////version 2/////////////// --}}

<div class="edit-page">
  <div class="container">
    <h2>Edit {{username}}</h2>
      <form action="/users/edit" method="POST" enctype="multipart/form-data">
    
    <div class="form-control">
      <input type="text" name="username" value="{{user.username}}">
      {{!-- <input type="text" id="Username" name="username" required/> --}}
      <label for="Username">Username</label>
    </div>
    
    <div class="form-control">
      <input type="text" name="firstname" value="{{user.firstname}}">
      {{!-- <input type="text" id="Firstname" name="firstname" required/> --}}
      <label for="Firstname">Firstname</label>
    </div>

    <div class="form-control">
      <input type="text" name="name" value="{{user.name}}">
      {{!-- <input type="text" id="Name" name="name" required/> --}}
      <label for="Name">Name</label>
    </div>

    <div class="form-control">
      <input type="email" name="email" value="{{user.email}}">
      {{!-- <input type="email" id="Email" name="email" required/> --}}
      <label for="Email">Email</label>
    </div>

    {{!-- <div class="form-control">
      <input type="password" name="password" value="{{user.password}}">
      <label for="Password">Password</label>
    </div> --}}

    <div class="form-control">
      <input type="file" name="imageURL">
      {{!-- <input type="file" id="input-image" name="image" class="your-photo" required/> --}}
      <label for="input-image">Image</label>
    </div>

    <button type="submit">Update your profile</button>
    
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    </form>
  </div>
  </div>
